 
 /* DISEÑO CSS GRID RECETAS HERO*/

            /* DISEÑO CSS GRID RECETAS HERO*/
            @media screen and (min-width: 0px) and (max-width: 640px) {
              .contenedor-recetas-portada{
                display: grid;
                gap: 0.5rem;
                /* Creamos las columnas y sus medidad*/
                grid-template-columns: 1fr;
                /* Creamos las filas y sus valores de medidas*/
                grid-template-rows: 1fr 0.6fr 0.6fr;
               }
               .recetas-portada-1{
                   grid-column: 1/2;
                   grid-row: 1/2;
                }
              .recetas-portada-2{
                  grid-column: 1/2;
                  grid-row: 2/3;
               }
              }
                      
                      /* RECETAS HERO para tabletas (426px a 768px) */
                      @media screen and (min-width: 641px) and (max-width: 768px) {
                        .contenedor-recetas-portada{
                          display: grid;
                          gap: 0.5rem;
                          /* Creamos las columnas y sus medidad*/
                          grid-template-columns: 1fr;
                          /* Creamos las filas y sus valores de medidas*/
                          grid-template-rows: 1fr 0.6fr 0.6fr;
                         }
                         .recetas-portada-1{
                             grid-column: 1/2;
                             grid-row: 1/2;
                          }
                        .recetas-portada-2{
                            grid-column: 1/2;
                            grid-row: 2/3;
                         }

                      }
                      
                      /* RECETAS HERO para escritorio (767px en adelante) */
                      @media screen and (min-width: 766px) {
                        .contenedor-recetas-portada{
                          display: grid;
                          gap: 1rem;
                          /* Creamos las columnas y sus medidad*/
                          grid-template-columns: 0.2fr 1fr 0.2fr;
                          /* Creamos las filas y sus valores de medidas*/
                          grid-template-rows: 0.1fr 0.1fr 1fr;
                         }
                         .recetas-portada-1{
                             grid-column: 2/3;
                             grid-row: 1/3;
                          }
                        .recetas-portada-2{
                            grid-column: 1/4;
                            grid-row: 2/4;
                         }
                        }