@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Lilita+One&family=Righteous&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .btn-primario {
      @apply bg-green-500 hover:bg-[#D2B2C9] text-white font-bold py-2 px-4 lg:text-lg md:text-base text-xs;
    }

    .btn-secundario {
      @apply w-auto hover:scale-105 transition-all duration-200 shadow-md shadow-black/30 px-6 py-1 text-white border-[2px] bg-gradient-to-r from-[#d46d7c] to-[#D2B2C9] text-center rounded-full font-bold righteous-regular lg:text-lg md:text-base text-xs;
    }

    .texto-títulos {
        @apply lilita-one-regular xl:text-6xl md:text-4xl text-2xl;
    }

    .texto-subtitulos {
        @apply righteous-regular lg:text-lg text-base;
    }

    .texto-general {
        @apply comfortaa lg:text-lg md:text-base text-xs;
    }
  }

  /* Text Styles Google Fonts*/

  .righteous-regular {
    font-family: "Righteous", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

  .lilita-one-regular {
    font-family: "Lilita One", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

  .comfortaa {
    font-family: "Comfortaa", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }