 /* DISEÑO CSS GRID PORTADA*/

            /* DISEÑO CSS GRID PORTADA*/
            @media screen and (min-width: 0px) and (max-width: 640px) {
                .contenedor-portada{
                    display: grid;
                    /* Creamos las columnas y sus medidad*/
                    grid-template-columns: 1fr;
                    /* Creamos las filas y sus valores de medidas*/
                    grid-template-rows: 0.1fr 1fr;
                  }
                  .portada-1{
                      grid-column: 1/2;
                      grid-row: 2/3;
                  }
                    .portada-2{
                      grid-column: 1/2;
                      grid-row: 1/2;
                  }

              }
                      
                      /* PORTADA  para tabletas (426px a 768px) */
                      @media screen and (min-width: 641px) and (max-width: 768px) {
                        .contenedor-portada{
                            display: grid;
                            grid-gap: 0.5rem;
                            /* Creamos las columnas y sus medidad*/
                            grid-template-columns: 1fr 1fr;
                            /* Creamos las filas y sus valores de medidas*/
                            grid-template-rows: 1fr;
                          }
                          .portada-1{
                              grid-column: 1/2;
                              grid-row: 1/2;
                          }
                            .portada-2{
                              grid-column: 2/3;
                              grid-row: 1/2;
                          }

                      }
                      
                      /* INICIO  para escritorio (769px en adelante) */
                      @media screen and (min-width: 769px) {
                        .contenedor-portada{
                            display: grid;
                            grid-gap: 0.5rem;
                            /* Creamos las columnas y sus medidad*/
                            grid-template-columns: 1fr 1fr;
                            /* Creamos las filas y sus valores de medidas*/
                            grid-template-rows: 1fr;
                          }
                          .portada-1{
                              grid-column: 1/2;
                              grid-row: 1/2;
                          }
                            .portada-2{
                              grid-column: 2/3;
                              grid-row: 1/2;
                          }

                      }